{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="login-box-spacing">
    <div class="container text-center form-style login-box">
        <h1 class="top-margin">Welcome to Pic Pals</h1>
        <p>A place to share photos with friends, family and people all over the
            world.</p>
        {% if form.errors %}
        <p class="error-text">Invalid log in details. Please try again</p>
        {% else %}
        <p>Please log in below</p>
        {% endif %}
        <div class="container">
            <form action="{% url 'login' %} " method="post">
                <div class="form-group">
                    {{ form.as_p }}
                    {% csrf_token %}
                </div>
                <input type="hidden" name="next" value="{{ next }}">
                <p><input class="btn btn-dark profile-button" type="submit"
                        value="Log in"></p>
            </form>
            <hr class="hr-styled">
            <div>
                <div>
                    Forgotten your password?
                </div>
                <div>
                    <a href="{% url 'password_reset' %}"
                        class="btn btn-dark profile-button">
                        Reset Password
                    </a>
                </div>
            </div>
            <div>
                <div>
                    Not a member?
                </div>
                <div class="btm-margin">
                    <a href="{% url 'register' %}"
                        class="btn btn-dark profile-button">
                        Sign up
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}