{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="container form-style">
    <h1>Reset your password</h1>
    {% if validlink %}
    <p>Please eneter you new password twice.</p>
    <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <p><input type="submit" value="Reset Password"
                class="btn btn-dark text-center btn-hover std-btn-width">
        </p>
    </form>
    {% else %}
    <p>The password link was invalid, it has possibly already been used.
        Please
        request a new password reset.
    </p>
    {% endif %}
    <div class="div-btn-control">
        <a href="/" aria-label="Cancel button"
            class="btn btn-dark text-center margin-btm btn-hover std-btn-width">
            Cancel
        </a>
    </div>
</div>

{% endblock %}