<!-- Password reset page to be created here-->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="container form-style">
    <div div class="container text-right">
        <h1>Forgotten your password?</h1>
        <p>Enter e-mail address below to receive a new password.</p>
        <form method="post">
            <div class="form-group">
            {{ form|crispy }}
            {% csrf_token %}
            </div>
            <p><input type="submit" value="Send e-mail"></p>
        </form>
    </div>
</div>

{% endblock %}