{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="container form-style">
    <h1>Reset your password</h1>
    <p>An email has been sent with instructions on how to
        reset your password.
    </p>
    <p>If you do not receive an email please ensure you have
        entered the correct email address register with us.
    </p>
    <div class="div-btn-control">
        <a href="/" aria-label="Return home button"
            class="btn btn-dark text-center margin-btm btn-hover std-btn-width">
            Return Home
        </a>
    </div>
</div>

{% endblock %}