<!-- Password reset page to be created here-->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="container form-style">
    <div class="container text-right">
        <h1>Forgotten your password?</h1>
        <p>Enter e-mail address below to receive a new password.</p>
        <form method="post">
            <div class="form-group">
            {{ form|crispy }}
            {% csrf_token %}
            </div>
            <p><input type="submit" value="Send e-mail" class="form-btn"></p>
            <div class="div-btn-control">
                <a href="/" aria-label="Cancel button"
                    class="a-btn text-center form-btn margin-btm btn-hover">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}