@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Do Hyeon', sans-serif;
    background-color: #F9F7F1 !important
}

footer {
    margin-top: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none !important;
}

.text-muted {
    color: black !important;
}

.btn-hover:hover {
    background-color: #E5E5E5;
}

.margin-btm {
    margin-bottom: 15px;
}

.error-text {
    color: red;
}

.button-margin {
    margin-top: 5px;
    padding: 0 20%;
}

.login-box-spacing {
    padding: 0 10%;
    margin: 40px 0;
}

.login-box {
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 0 7px;
    box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.6);
}

.form-btn {
    border-radius: 3px;
    border: solid 1px grey;
    width: 120px;
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

.post-detail-button {
    margin-right: 5px;
}

.sm-top-margin {
    margin-top: 3px;
}

.div-btn-control {
    width: 120px;
}

.delete-btn {
    height: 30px;
    width: 30px;
    float: right;
    margin-top: 5px
}

.auto-margin {
    margin: auto;
}

.top-margin {
    margin-top: 30px
}

.btm-margin {
    margin-bottom: 30px;
}

.error-page-margin {
    margin: 3rem 0;
}

.post-spacing {
    margin-bottom: 20px
}

.post-detail-size {
    max-width: 500px;
}

.profile-button {
    width: 160px;
    margin-bottom: 10px;
}

.std-btn-width {
    width: 130px;
}

.justify-center {
    justify-content: center !important;
}

.like-button {
    height: 40px;
    width: 40px
}

.like-btn-margin {
    margin-top: 10px;
}

.user-name-font {
    margin-bottom: 0;
    font-size: min(5vw, 36px);
}

.user-info-pos {
    text-align: center;
    padding: 30px 0px 30px 0px;
}

.user-info-font {
    font-size: min(5vw, 36px);
}

.form-btn-pos {
    margin-top: 10px;
}

.profile-pic {
    width: 100%;
    aspect-ratio : 1 / 1;
    object-fit: scale-down;
    border-radius: 50%;
    border: 2px solid black;
    max-width: 200px;
}

.profile-style {
    margin-top: 20px;
    max-width: 850px;
}

.post-pic {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: solid 1px grey;
    object-fit: contain;
}

.card-h-100 {
    height: 100%
}

.card-img-size {
    height: 250px
}


.post-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
}

.user-list-margin {
    margin-bottom: 25px;
}

.user-card {
    width: 250px;
    height: auto;
}

.post-detail-container {
    width: 100%;
    margin: auto;
}

.form-style {
    margin-top: 40px;
    max-width: 800px;
}

.footer-bg-colour {
    background-color: rgba(0, 0, 0, 0.2);
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 25px;
}

.comment-title {
    text-decoration: underline;
}

.comment-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-btns {
    text-align: center;
    margin-top: 10px;
}

.edit-post-btn {
    width: auto;
}

.asteriskField {
    display: none;
}

.no-posts {
    text-align: center;
    font-size: min(5vw, 36px);
}

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #EE316B;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

form div {
    margin-bottom: 15px;
}

.right-border {
    border-right: solid 1px rgba(0, 0, 0, 0.2);
}

.no-posts-image {
    width: 100px;
    height: auto;
}

.nav-btn:hover {
    color: #EFEFEF;
}

.hr-styled {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Media queries*/

@media only screen and (max-width: 571px) {
    .profile-pic {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 770px) {
    .user-name-font {
        font-size: 40px;
    }

    .no-posts {
        font-size: 40px !important;
    }
}
