a { 
    color: inherit;
    text-decoration: none;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

.auto-margin {
    margin: auto;
}

.post-spacing {
    margin-bottom: 20px
}

.post {
    border: solid;
    margin-bottom: 10px;
    max-width: 80%;
}

.profile-button {
    width: 165px;
    margin-bottom: 10px;
}

.post-image-resize {
    display: block;
    width: 150px;
    height: auto;
    margin: auto;
}

.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
}

.post-pic {
    width: 100%;
    margin: auto;
    border: solid 1px grey
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}

.site-margin {
    margin: 50px;
}

.user-list-margin {
    margin-bottom: 25px;
}

.user-card {
    width: 250px;
    height: auto;
}

.post-detail {
    justify-content: center;
}

.profile-user-name {
    font-size: 30px;
    margin: 20px
}

.profile-section {
    margin-bottom: 20px;
}

.form-style {
    margin-top: 40px;
    max-width: 800px;
}

.footer-bg-colour{
    background-color: rgba(0, 0, 0, 0.2);
}


