@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Do Hyeon', sans-serif;
}
footer{
    margin-top: auto;
}

a { 
    color: inherit;
    text-decoration: none;
}

.bio-text {
    text-align: left;
}

.error-text {
    color: red;
}

.button-margin {
    margin-top: 5px
}

.form-btn {
    border-radius: 3px;
    border: solid 1px grey;
    width: 100px;
}

.delete-btn {
    height: 30px;
    width: 30px;
    float: right;
    margin-top: 5px
}

.auto-margin {
    margin: auto;
}

.top-margin {
    margin-top: 30px
}

.btm-margin {
    margin-bottom: 30px;
}

.post-spacing {
    margin-bottom: 20px
}

.post-detail-size {
    max-width: 500px;
}

.post-max-content {
    width: max-content;
}

.profile-button {
    width: 160px;
    margin-bottom: 10px;
}

.like-button {
    height: 40px;
    width: 40px
}

.like-btn-margin {
    margin-top: 10px;
}

.del-post-btn {
    text-align: end;
    margin: auto;
}

.user-name-font {
    margin-bottom: 0;
    font-size: 40px
}

.user-info-pos {
    padding: 10px 0px 0px 0px;
}

.user-info-font {

    font-size: 20px;
}

.form-btn-pos {
    margin-top: 10px;
}

.post-image-resize {
    display: block;
    width: 150px;
    height: auto;
    margin: auto;
}

.profile-pic {
    width: 175px;
    height: 175px;
    object-fit: scale-down;
    border-radius: 50%;
    border: 2px solid black;
}

.profile-style {
    margin-top: 20px;
    max-width: 850px;
}

.post-pic {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: solid 1px grey;
    object-fit: contain;    
}

.card-h-100 {
    height: 100%
}

.card-img-size {
    height: 250px
}


.post-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
}

.site-margin {
    margin: 50px;
}

.user-list-margin {
    margin-bottom: 25px;
}

.user-card {
    width: 250px;
    height: auto;
}

.post-detail {

    justify-content: center;
}

.post-detail-container {
    width: 100%;
    margin: auto;
}

.profile-user-name {
    font-size: 30px;
    margin: 10px
}

.profile-section {
    margin-bottom: 20px;
}

.form-style {
    margin-top: 40px;
    max-width: 800px;
}

.footer-bg-colour{
    background-color: rgba(0, 0, 0, 0.2);
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 10px;
  }

.profile-post-container {
    width: 200px;
    height: 200px;
    background-color: #0a0a23;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-delete-btn {
    position: relative;
    right: 10px;
    top: -5px;
}

.comment-title {
    text-decoration: underline;
}

.comment-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-btns {
    text-align: center;
    margin-top: 10px;
}

.edit-post-btn {
    width: auto;
}

.card-image-div {
    height: 250px;
}

.asteriskField {
    display: none;
}


.no-posts {
    text-align: center;
    font-size: xx-large;
}

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 128, 128, 1);
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }
  
form div {
    margin-bottom: 15px;
}
  /* Media queries*/

  @media only screen and (max-width: 571px) {
    .profile-pic {
        width: 75px;
        height: 75px;
        object-fit: contain;
        border-radius: 50%;
        border: 2px solid black;
    }


}


/* Add media queries for font size/positioning for follow count on info bar*/