<!-- create post page to be created here-->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create post{% endblock %}

{% block content %}

<div class="container form-style">
    <h1>Create a post</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form|crispy }}
        {% csrf_token %}
        <p><input type="submit" value="Post" class="btn btn-dark text-center btn-hover"></p>
    </form>
    <div class="div-btn-control">
        <a href="/" aria-label="Cancel button"
            class="btn btn-dark text-center margin-btm btn-hover">
            Cancel
        </a>
    </div>
</div>

<script>
    const file_input = document.querySelector('#id_image');
    file_input.setAttribute('accept', 'image/png, image/jpeg');
</script>

{% endblock %}