<!-- create post page to be created here-->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create post{% endblock %}

{% block content %}

<div class="container form-style">
    <h1>Create a post</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form|crispy }}
        {% csrf_token %}
        <p><input type="submit" value="Post" class="form-btn form-btn-pos"></p>
    </form>
    <div class="form-btn margin-btm">
        <a href="/" aria-label="Cancel button"
            class="a-btn text-center">
            <!-- <button >
            Cancel
        </button> -->
            Cancel
        </a>
    </div>
</div>

<script>
    const file_input = document.querySelector('#id_image');
    file_input.setAttribute('accept', 'image/png, image/jpeg');
</script>

{% endblock %}