<!-- create post page to be created here-->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create post{% endblock %}

{% block content %}

<div class="container form-style">
    <h1>Create a post</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form|crispy }}
        {% csrf_token %}
        <p><input type="submit" value="Post" class="form-btn-pos"></p>
        <button aria-label="Cancel button" class="form-btn">
            <a href="/">
                Cancel
            </a>
        </button>
    </form>
</div>

{% endblock %}