<!-- create followed accounts feed here-->
{% extends "base.html" %}

{% load static %}

{% block title %}User feed{% endblock %}

{% block content %}
<div class="container form-style">
  <div class="row">
    <div class="container">
      <h1 class="text-center btm-margin">Followed accounts latest posts</h1>
      <div class='row card-group auto-margin'>
        {% for post in followed_user_posts %}
        <div class="col-12 col-md-6 col-lg-4 post-spacing">
          <div class="card h-100">
            <div class="card-body">
              <div class="post-spacing">
                <a href="{{ post.user.get_absolute_url }}"
                  class="post-spacing">
                  {% if post.user.profile.profile_pic %}
                  <img src="{{ post.user.profile.profile_pic.url }}"
                    alt="User profile picture" class="post-avatar">
                  {% else %}
                  <img src="{% static 'images/default_profile_pic.png' %}"
                    alt="Default profile picture" class="post-avatar">
                  {% endif %}
                  {{ post.user }}
                </a>
              </div>
              <div class="card-img-size">
                <div class="card-h-100">
                  <a href="{{ post.get_absolute_url }}" class="card-h-100">
                    <img src="{{ post.image.url }}" alt="Post image"
                      class="post-pic">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">Posted:
                {{ post.created_date }}</small><br>
              <small class="text-muted">Likes: {{ post.likes }}</small>
            </div>
          </div>
        </div>
        {% empty %}
        <div>
          <img src="{% static 'images/no-posts.png' %}" alt="No posts image"
            class="no-posts-image">
          <p class="no-posts">
            NO POSTS YET
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="div-btn-control auto-margin text-center">
    <a href="{% url 'dashboard' %}" aria-label="Return button"
      class="a-btn text-center form-btn margin-btm btn-hover">
      Return Home
    </a>
  </div>
</div>
{% endblock %}