<!-- individual post page to be created here-->
{% extends "base.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
<div class="container">    
    <div class="row post">
    {{ post.user }}
    <img src="{{ post.image.url }}">
    <div>
        {{ post.caption }}
    </div>
        {{ post.created_date|date:"d M Y" }}
    </div>
    <div>
      <a href="{% url 'posts:like' post.id %}">
        <p>Likes: {{ post.likes }}</p>
        {% if post.likes == 0 %}
        <p>No likes</p>
        {% elif post.likes == 1 %}
        <p>Liked by {{post.likes}} person</p>
        {% else %}
        <p>Liked by {{ post.likes }} people</p>
        {% endif %}
      </a>
      <div>
        {% with comments.count as total_comments %}
        <h2>
          {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
        {% endwith %}
        {% for comment in comments %}
          <p>
            {{ comment.user }}
          </p>
          <p>
            {{ comment.created }}
          </p>
          {{ comment.comment_body|linebreaks }}
      </div>
        <hr>
        {% empty %}
        <p>There are no comments.</p>
      {% endfor %}
      </div>
    </div>
    <div>
      {% include "post/comment_form.html" %}
    </div>
</div>

{% endblock %}