<!-- individual post page to be created here-->
{% extends "base.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
<div class="container top-margin">
  <div class="col-12 col-md-6 col-lg-4 post-detail-container">
    <div class="card h-100">
      <div class="card-body">
        <div class="post-spacing">
          <a href="{{ post.get_absolute_url }}" class="post-spacing">
            <img src="{{ user.profile.profile_pic.url }}" class="post-avatar">
            {{ post.user }}
          </a>
        </div>
      </div>
      <div>
        <img src="{{ post.image.url }}" class="post-pic">
      </div>
      <div class="card-footer">
        <small class="text-muted">Caption:
          {{ post.caption }}</small><br>
        <small class="text-muted">Posted:
          {{ post.created_date|date:"d M Y" }}</small><br>
      </div>
    </div>
  </div>
  <div>
    {% if liked_by_user %}
    <a href="{% url 'posts:like' post.id %}">
      <img src="/static/images/like.png" class="like-button">
    </a>
    {% else %}
    <a href="{% url 'posts:like' post.id %}">
      <img src="/static/images/not_liked.png" class="like-button">
    </a>
    {% endif %}
    {% if post.likes == 0 %}
    <p>No likes</p>
    {% elif post.likes == 1 %}
    <p>Liked by {{post.likes}} person</p>
    {% else %}
    <p>Liked by {{ post.likes }} people</p>
    {% endif %}
    </a>
    <hr>
    <div>
      {% with comments.count as total_comments %}
      <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
      </h2>
      {% endwith %}
      <div class="container"
        style="border: solid 1px black; margin-bottom:10px;">
        {% for comment in comments %}
        <div class="row">
          <div class="col-10">
            <img src="{{ comment.user.profile.profile_pic.url }}"
              class="post-avatar">
            {{ comment.user }}
          </div>
          {% if request.user == comment.user %}
          <div class="col-2">            
            <a href="{% url 'posts:comment_delete' comment.id %}">
              <img src="/static/images/delete.png" class="delete-btn">
            </a>
          </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col-12">
            {{ comment.created }}
            {{ comment.comment_body|linebreaks }}
          </div>
        </div>
        {% empty %}
        <p>There are no comments</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
<div>
  {% include "post/comment_form.html" %}
</div>
</div>

{% endblock %}

<div>
  Container
  <div>
    row
    <div>
      Profile pic
    </div>
    <div>
      Delete button
    </div>
  </div>
  <div>
    Comment
  </div>
</div>