<!-- list of logged in users posts page to be created here-->
{% extends "base.html" %}

{% load static %}

{% block title %} My posts {% endblock %}

{% block content %}

<div class="container form-style">
  <h1 class="text-center">My posts</h1>
  <div class="row">
    <div class='row card-group auto-margin'>
      {% for post in user_posts %}
      <div class="col-12 col-md-6 col-lg-4 post-spacing">
        <div class="card h-100">
          <div class="card-body">
            <a href="{{ user.get_absolute_url }}">
              {{ post.user }}
            </a>
            <a href="{{ post.get_absolute_url }}">
              <img src="{{ post.image.url }}" class="post-image-resize">
            </a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Posted:
              {{ post.created_date }}</small><br>
            <small class="text-muted">Likes: {{ post.likes }}</small>
          </div>
        </div>
      </div>
      {% empty %}
      <p class="h1">
        No posts yet.
      </p>
      <p>
        <a href="{% url 'posts:create_post' %}">
          Add a post
        </a>
      </p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}