<!-- list of logged in users posts page to be created here-->
{% extends "base.html" %}

{% block title %} My posts {% endblock %}

{% block content %}

<div class='row card-group'>
    {% for post in user_posts %}
      <div class="col-4">
        <div class="card h-100">
          <div class="card-body">
            <a href="{{ user.get_absolute_url }}">
                {{ post.user }}
                </a>
              <a href="{{ post.get_absolute_url }}">
            <img src="{{ post.image.url }}" class="post-pic">
              </a>
            <p class="card-text">
            {{ post.caption }}
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ post.likes }}</small>
          </div>
          <div>
            {% with comments.count as total_comments %}
            <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
            {% endwith %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

{% endblock %}

