<!-- list of logged in users posts page to be created here-->
{% extends "base.html" %}

{% load static %}

{% block title %} My posts {% endblock %}

{% block content %}

<div class='row card-group site-margin'>
    {% for post in user_posts %}
      <div class="col-4">
        <div class="card h-200">
          <div class="card-body">
            <a href="{{ user.get_absolute_url }}">
                {{ post.user }}
                </a>
              <a href="{{ post.get_absolute_url }}">
            <img src="{{ post.image.url }}" class="post-image-resize">
              </a>
            <p class="card-text">
            {{ post.caption }}
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Likes: {{ post.likes }}</small>
          </div>
        </div>
      </div>
    {% empty %}
    <p class="h1">
      No posts yet.
    </p>
    <p>
      <a href="{% url 'posts:create_post' %}">
        Add a post
      </a>
    </p> 
    {% endfor %}
    </div>

{% endblock %}

