{% extends "base.html" %}

{% load static %}

{% block title %}Following list{% endblock %}

{% block content %}

<div class="container form-style text-center">
  <h1>{{user.get_username}} follows...</h1>
  <div class="row">
    <div class="container top-margin">
      <div class="row">
        <div class='row card-group auto-margin'>
          {% for followed_user in user_following_list %}
          <div
            class="col-12 col-md-6 col-lg-4 text-center user-list-margin user-card mx-auto">
            <div class="card h-100">
              <div class="card-body">
                <a
                  href="{{ followed_user.followed_account.get_absolute_url }}">
                  {% if followed_user.followed_account.profile.profile_pic %}
                  <img
                    src="{{ followed_user.followed_account.profile.profile_pic.url }}"
                    alt="User profile picture" class="profile-pic"><br>
                  {% else %}
                  <img src="{% static 'images/default_profile_pic.png' %}"
                    alt="Default profile picture" class="profile-pic"><br>
                  {% endif %}
                  {{ followed_user.followed_account.get_username }}
                </a>
              </div>
            </div>
          </div>
          {% empty %}
          <div>
            <h2>
              nobody.
            </h2>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="div-btn-control auto-margin text-center">
    <a href="{% url 'dashboard' %}" aria-label="Return button"
      class="btn btn-dark text-center">
      Return Home
    </a>
  </div>
</div>

{% endblock %}