<!-- user detail page to be created here-->
{% extends "base.html" %}
{% load static %}

{% block title %} {{ user.get_username }} {% endblock %}

{% block content %}
{{ user.get_username }}
{% if user.profile.profile_pic %}
    <div>
        <img src="{{ user.profile.profile_pic.url }}"
            alt="Profile Picture" class="profile-pic"><br>
    {% else %}
        <img src="{% static 'images/default_profile_pic.png' %}"
            alt="Profile Picture" class="profile-pic"><br>
{% endif %}

<div class='row card-group'>
    {% for post in user_posts %}
      <div class="col-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <img src="{{ post.image.url }}">
            <p class="card-text">
            {{ post.caption }}
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Comments</small>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

{% endblock %}


