<!-- user list page to be created here-->
{% extends "base.html" %}

{% load static %}

{% block title %}Search results{% endblock %}

{% block content %}
<div class="container form-style">
    <form action="{% url 'search_users' %}" method="get">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">@</span>
            <input type="text" class="form-control" placeholder="Username"
                aria-label="Username" aria-describedby="addon-wrapping"
                name="p">
        </div>
    </form>
    <div class="row">
        <div class="container text-center">
            <h1>Search Results</h1>
            {% if not user_search_results %}
            <div>
                <h2>No users with that username exists.</h2>
            </div>
            {% else %}
            <div class="row">
                <div class='row card-group auto-margin'>
                    {% for user in user_search_results %}
                    <div
                        class="col-12 col-md-6 col-lg-4 text-center user-list-margin user-card mx-auto">
                        <div class="card h-100">
                            <div class="card-body">
                                <a
                                    href="{{ user.get_absolute_url }}">
                                    {% if user.profile.profile_pic %}
                                    <img src="{{ user.profile.profile_pic.url }}"
                                        alt="Profile Picture"
                                        class="profile-pic"><br>
                                    {% else %}
                                    <img src="{% static 'images/default_profile_pic.png' %}"
                                        alt="Profile Picture"
                                        class="profile-pic"><br>
                                    {% endif %}
                                    {{ user.username }}
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% endblock %}