<!-- user list page to be created here-->
{% extends "base.html" %}

{% load static %}

{% load cloudinary %}

{% block title %}List of users{% endblock %}

{% block content %}

{% for user in users %}

<div style="border-style: solid;">
    {% if "default_profile_pic" in user.profile_pic.url %}
        <div>
            <img src="{% static 'images/default_profile_pic.jpeg' %}"
            alt="Profile Picture"><br>
    {% else %}
            <img src="{{ user.profile_pic.url }}" alt="Profile Picture"><br>
    {% endif %}
            <a href="{{ user.get_absolute_url }}">
                {{ user.user }}<br>
                {{ user.get_username }}
            </a>
        </div>

</div>

{% endfor %}

{% endblock %}