{% extends "base.html" %}

{% load static %}

{% block title %}List of users{% endblock %}

{% block content %}

<div class="container form-style">
  <form action="{% url 'search_users' %}" method="get">
    <h4>Search for user</h4>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input type="text" class="form-control" placeholder="Username"
        aria-label="Username" aria-describedby="addon-wrapping" name="p">
    </div>
  </form>
  <div class="row">
    <div class="container text-center">
      <h1>Pic Pal users</h1>
      <div class="row">
        <div class='row card-group auto-margin'>
          {% for user in users %}
          {% if user != request.user %}
          <div
            class="col-12 col-md-6 col-lg-4 text-center user-list-margin user-card mx-auto">
            <div class="card h-100">
              <div class="card-body">
                <a href="{{ user.get_absolute_url }}">
                  {% if user.profile.profile_pic %}
                  <img src="{{ user.profile.profile_pic.url }}"
                    alt="User profile picture" class="profile-pic"><br>
                  {% else %}
                  <img src="{% static 'images/default_profile_pic.png' %}"
                    alt="Default profile picture" class="profile-pic"><br>
                  {% endif %}
                  {{ user.get_username }}
                </a>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="div-btn-control auto-margin text-center">
    <a href="{% url 'dashboard' %}" aria-label="Return button"
      class="btn btn-dark text-center margin-btm">
      Return Home
    </a>
  </div>
</div>

{% endblock %}