<!-- user dashboard page to be created here-->
{% extends "base.html" %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">   
        <div class="col-3">
            {% if user.profile.profile_pic %}
            <div>
                <img src="{{ user.profile.profile_pic.url }}"
                    alt="Profile Picture" class="profile-pic"><br>
            {% else %}
                <img src="{% static 'images/default_profile_pic.png' %}"
                    alt="Profile Picture" class="profile-pic"><br>
            {% endif %}
        <div class="col-9">
            <h1>{{ user_profile.user }}</h1>
        </div>
    </div>    
</div>
<p>
    <a href="{% url 'posts:create_post' %}">Add post</a>
</p>
<p>
    <a href="{% url 'edit_profile' %}">Edit profile</a>
</p>
<p>
    <a href="{% url 'password_change' %}">Change password</a>
</p>

<div class='row card-group'>
    {% for post in user_posts %}
      <div class="col-4">
        <div class="card h-100">
          <div class="card-body">
            <a href="{{ user.get_absolute_url }}">
                {{ post.user }}
            </a>
            <a href="{{ post.get_absolute_url }}">
            <img src="{{ post.image.url }}" class="post-pic">
            </a>
            <p class="card-text">
            {{ post.caption }}
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Comments</small>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>


{% endblock %}

