<!-- edit profile page to be created here-->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit profile{% endblock %}

{% block content %}

<div class="container form-style">
    <h1>Edit profile</h1>
    <p>
        Please edit your profile using the form below.
    </p>

    <form method="post" enctype="multipart/form-data">
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        {% csrf_token %}
        <p>
            <button type="button" class="form-btn form-btn-pos btn-hover"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                aria-label="Edit post button">
                Update
            </button>
        </p>

        <!-- Edit post caption confirm modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">
                            Update profile
                        </h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to update your profile with the
                        new information?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger"
                            data-bs-dismiss="modal"
                            aria-label="Close">No</button>
                        <button type="submit" class="btn btn-success">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div class="div-btn-control">
        <a href="/" aria-label="Cancel button"
            class="a-btn text-center form-btn margin-btm btn-hover">
            Cancel
        </a>
    </div>
</div>

<script>
    const file_input = document.querySelector('#id_profile_pic');
    file_input.setAttribute('accept', 'image/png, image/jpeg');
</script>


{% endblock %}