<!-- edit profile page to be created here-->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit profile{% endblock %}

{% block content %}

<div class="container form-style">
<h1>Edit profile</h1>
<p>
    Please edit your profile using the form below.
</p>

    <form method="post" enctype="multipart/form-data">
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        {% csrf_token %}
        <p><input type="submit" value="Update profile"></p>
    </form>
</div>


{% endblock %}