{% extends "base.html" %}

{% load static %}

{% block title %}404 Error{% endblock %}

{% block content %}

<div class="login-box-spacing">
    <div class="container form-style text-center login-box">
        <h1 class="error-page-margin">404 Error</h1>
        <h5 class="error-page-margin">Oops, it seems that page does not exist.
        </h5>
        <div class="div-btn-control auto-margin text-center">
            <a href="{% url 'dashboard' %}" aria-label="Return button"
                class="btn btn-dark text-center margin-btm">
                Return Home
            </a>
        </div>
    </div>
</div>

{% endblock %}