{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Contact us{% endblock %}

{% block content %}
<div class="container form-style">
    <div class="container text-right">
        <h1>Contact us</h1>
        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ contact_form | crispy }}
            </div>
            <p><input type="submit" value="Submit"
                    class="form-btn form-btn-pos btn-hover"></p>
        </form>
        <div class="div-btn-control">
            <a href="/" aria-label="Cancel button"
                class="a-btn text-center form-btn margin-btm btn-hover">
                Cancel
            </a>
        </div>
    </div>
</div>

{% endblock %}